.cart-page {
  width: 80%;
  margin: 40px auto;
}

.cart-page h1 {
  text-align: center;
  color: #0f172a;
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-details {
  flex: 1;
  margin-left: 25px;
}

.cart-details h3 {
  color: #0f172a;
}

.cart-details p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.remove-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #dc2626;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
}

.checkout-btn {
  margin-top: 15px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-btn:hover {
  background: #1d4ed8;
}
.quantity-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.quantity-box span {
  font-size: 18px;
  font-weight: bold;
}